<html lang="en">
<head>
        <!-- Primary Meta Tags -->
    <title>shobi - cat blog & friends</title>
    <meta name="title" content="shobi - cat blog & friends">
    <meta name="description" content="shobi is extremq's private blog where only a select amount of people can post.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://shoby.herokuapp.com/">
    <meta property="og:title" content="shobi - cat blog & friends">
    <meta property="og:description" content="shobi is extremq's private blog where only a select amount of people can post.">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://shoby.herokuapp.com/">
    <meta property="twitter:title" content="shobi - cat blog & friends">
    <meta property="twitter:description" content="shobi is extremq's private blog where only a select amount of people can post.">
    <link rel="icon" type="image/ico" href="../favicon.ico">
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../javascripts/purify.min.js"></script>
    <script type="text/javascript" src="../../javascripts/purify.min.js"></script>
    <script type="text/javascript" src="../javascripts/marked.js"></script>
    <script type="text/javascript" src="../../javascripts/marked.js"></script>
    
    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@10.7.1/styles/default.min.css">
    <script src="https://unpkg.com/@highlightjs/cdn-assets@10.7.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://unpkg.com/filepond-plugin-image-validate-size/dist/filepond-plugin-image-validate-size.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="../javascripts/fileUpload.js"></script>
    <script defer src="../../javascripts/fileUpload.js"></script>
    <script src="https://kit.fontawesome.com/d6a19faa6c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <title>shobi</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <br><br><br><br>
    <%- include('../partials/error_message.ejs') %>
    <%- include('../partials/success_message.ejs') %>
    <%- body %>
</body>
<%- include('../partials/footer.ejs') %>
</html>