<div class="container mb-4">
    <div class="card shadow" style="max-width: 600px; margin: auto">
        <% if (post.banner?.length > 5) { %>
        <img src="<%= post.banner %>" style="max-width: 600px;">
        <% } %>
        <div class="card-body">
            <h3 class="card-title display-6" style="text-align: center;"><%= post.title %></h3>
            <p class="card-subtitle text-muted"style="text-align: center;"><%= post.description %></p>
            <p class="card-subtitle text-muted mb-3" style="text-align: center;"><small>Created by <a class="text-decoration-none" href="#">@<%= post.authorName %></a> on <%= post.createdAt.split('T')[0]%> at <%= post.createdAt.split('T')[1].split('.')[0] %>.</small></p>
            
            <form class="d-flex justify-content-center" method="post" action="<%= post.id %>?_method=DELETE">
                <% if (user?.name) {%>
                <div class="d-inline m-1">
                    <a class="btn btn-sm btn-outline-danger shadow-sm <% if (post.likers.indexOf(user.name) != -1) { %>disabled<% } %>" href="<%= post.id %>/like">
                        <% if (post.likers.indexOf(user.name) != -1) { %>
                            Liked! <i class="fa fa-heart fa-sm"></i>
                        <% } else {%>
                            Like <i class="far fa-heart fa-sm"></i>
                        <% }%> 
                    </a>
                </div>
                <% } %>
                <div class="d-inline m-1">
                    <button type="button" class="btn btn-sm btn-outline-secondary shadow-sm" onclick="showToast();copyToClipboard('<%= post.id %>')" id="<%= post.id %>">Copy <i class="fa fa-link fa-sm"></i></button>
                </div>
                <% if (post.authorName == user?.name || user?.name == admin) { %>
                    <div class="d-inline m-1">
                        <a class="btn btn-sm btn-outline-primary shadow-sm" href="<%= post.id %>/edit">Edit <i class="far fa-sm fa-edit"></i></a>
                    </div>
                    <div class="d-inline m-1">
                        <button class="btn btn-sm btn-outline-danger shadow-sm" type="submit">Delete <i class="far fa-sm fa-trash-alt"></i></button>
                    </div>
                <% } %>
            </form>
            <% if (post.markdown) { %>
            <%- post.markdown %>
            <% } %>             
        </div>
        
        <div class="card-footer">
            <% if (post.tags.length > 0) { %>
            <i class="fa fa-sm fa-hashtag"></i> Tags: 
                <% post.tags.forEach(tag => { %>
                <a class="text-decoration-none" href="posts?tags=<%= tag %>"><%= tag %></a>
                <% }); %><br>
            <% } %>
            <i class="fa fa-sm fa-heart"></i> <%= post.likers.length %> <abbr class="text-decoration-none" title="<%= post.likers.join(', ') %>">Like<%if(post.likers.length != 1){%>s<%}%></abbr>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <i class="fa fa-sm fa-comments"></i> 
                <% if(post.comments.arr.length == 0) {%>
                    Nobody has commented yet!
                <% }else{%>
                    <%= post.comments.arr.length %> Comment<%if(post.comments.arr.length != 1){%>s<%}%>
                <% }%>
                <br>
                <% if(user?.name) {%>
                    <form action="/posts/<%= post.id %>/comment" method="POST">
                        <label class="form-label" for="comment">Add a comment as @<strong><%= user.name %></strong></label>
                        <textarea class="mb-2 form-control form-sm" name="comment" rows="2" maxlength="256" minlength="2"></textarea>
                        <button type="submit" class="btn btn-outline-success btn-sm">Submit</button>
                    </form>
                    
                <% } else { %>
                    <div class="px-3 py-1 mb-1">
                        <a class="text-decoration-none" href="/register">Make an account</a> or <a class="text-decoration-none" href="/login">Login</a> to post a comment.
                    </div>
                <% }%>
            </li>
            <% post.comments.arr.forEach(comment => {%>
                <li class="list-group-item mb-1">
                    <i class="fa fa-sm fa-comment"></i><span class=" text-muted"> <a class="text-decoration-none" href="#">@<%= comment.author %></a> on <%= comment.createdAt.split('T')[0] %> at <%= comment.createdAt.split('T')[1].split('.')[0] %></span> <br>
                    
                    <div class="px-3 py-1">
                        <%= comment.text %>
                        
                    </div>
                    <% if(comment.author == user?.name || user?.name == admin) {%>
                    <form class="text-end" action="/posts/<%= post.id %>/comment/<%= comment.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-sm btn-outline-danger">Delete <i class="far fa-sm fa-trash-alt"></i></button>
                    </form>
                    <% } %>
                </li>
            <%})%>
        </ul>
    </div>
</div>
<div class="position-fixed bottom-0 start-50 translate-middle-x p-3" style="z-index: 5">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Link copied to clipboard.
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
<script>
    function copyToClipboard(id) {
    var dummy = document.createElement("textarea");
    document.body.appendChild(dummy);
    var copyText = "https://" + window.location.hostname + "/posts/" + id
    dummy.value = copyText;
    dummy.select();
    dummy.setSelectionRange(0, 99999);
    document.execCommand("copy");
    document.body.removeChild(dummy);
}
var toastElList = [].slice.call(document.querySelectorAll('.toast'))
var toastList = toastElList.map(function (toastEl) {
  return new bootstrap.Toast(toastEl)
})
function showToast(){
    toastList[0].show()
}
</script>